@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    color:#3b3838;
}

html {
    background: url("../images/pink_clouds_background_verticalRotated.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

h1{
    font-family: 'Oswald', serif;
    font-size: 200px;
    color: #FFFFFF;
}










/* ------------------------- images---------------------- */
#peeking-corner-monster{
    width: 600px;
    padding-left: 50px;
}



/* --------------- Welcome page -----------------*/

.container-welcome{
    justify-content: center;
    width: 35vw;
    background-color: white;
    color: black;
    margin-left: 15vw;
    margin-right: 15vw;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.header{
    justify-content: center;
    margin: auto;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.frontPageLinks a {
    text-decoration: none;
    padding: 20px;
}

.frontPageLinks a:hover {
    text-decoration: underline;
}



/* ------------------------------- Admin first page --------------------------------- */


























/* ---------------------------------- Start quiz page ---------------------------------*/
















/* ------------------------ popup info button --------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* ----------------------------------------- phone/player display -------------------------------------------- */

@media only screen and (max-width: 450px) {


}