@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    color:#3b3838;
}

html {
    background: url("../images/pink_clouds_background_verticalRotated.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

h1{
    font-family: 'Oswald', serif;
    font-size: 200px;
    color: #FFFFFF;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    font-family: 'Oswald', serif;
    font-size: 100px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 50px;
}

input[type="submit"] {
    background-color: #a94752;
    color: white;
    border: none;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    margin: auto;
    padding: 10px;
}



/* ------------------------- images---------------------- */
#peeking-corner-monster{
    width: 700px;
    padding-left: 50px;
}

#monster-logo-header{
    width: 500px;
    padding-left: 225px;
}


/* --------------- Welcome page -----------------*/

.container-welcome{
    border-radius: 5px;
    justify-content: center;
    width: 35vw;
    background-color: white;
    color: black;
    margin-left: 15vw;
    margin-right: 15vw;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.header{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.frontPageLinks a {
    text-decoration: none;
    padding: 0 20px;
}

.frontPageLinks a:hover {
    text-decoration: underline;
}


/* ------------------------------- Admin first page --------------------------------- */

.headerAndPageTitle {
    justify-content: center;
    width: 70vw;
    margin: auto;
}

.chooseCategories {
    width: 30vw;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.categoriesCheckboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-left: 40px;
}

.checkboxForEachCategory {
    width: 13vw;
    text-align: left;
}

.fuzzmodeCheckbox {
    margin: 25px auto;
}

.createQuizForm {
    width: 50vw;
    text-align: center;
}
























/* -------------------- join quiz / register players siden --------------- */
.join_quiz_container{
    background-color: white;
    opacity: 0.8;
    width: 30vw;
    padding: 20px;
}

















/* ---------------------------------- Start quiz page ---------------------------------*/

.container-start{
    background-color: white;
    opacity: 0.8;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 500px;
    padding: 30px;
    border-radius: 5px;
}

















/* ------------------------ popup info button --------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* ----------------------------------------- phone/player display -------------------------------------------- */

@media only screen and (max-width: 450px) {


}