@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    color:#3b3838;
}

html {
    background: url("../images/pink_clouds_background_verticalRotated.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
    font-size: 1vw;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/* h1 = header on front page only */
h1 {
    font-family: 'Oswald', serif;
    font-size: 10vw;
    color: #FFFFFF;
}

/* h2 = headers on other main pages, like register quiz/players, results */
h2 {
    font-family: 'Oswald', serif;
    font-size: 6vw;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 50px;
}

/* h3 = smaller text headers */
h3 {
    font-size: 2vw;
}



input[type="submit"] {
    background-color: #a94752;
    color: white;
    border: none;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    margin: auto;
    padding: 10px;
}




/* ------------------------- images---------------------- */
#peeking-corner-monster{
    width: 35vw;
    padding-left: 50px;
}

#monster-logo-header{
    width: 500px;
    position: relative;
    left: -80px;
    top: 3vw;
}

/*#happy-monster{
    position: relative;
    width: 500px;
    z-index: -1;
    left: 47%;
    transform: translateX(-50%);
}*/
#happy-monster{
    position: absolute;
    width: 500px;
    z-index: -1;
    margin: 2vh auto 0 auto;
}



/* --------------- Welcome page (front page) -----------------*/

.h1-welcome{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 8vw;
    z-index: -1
}

.container-welcome{
    border-radius: 5px;
    justify-content: center;
    width: 35vw;
    background-color: white;
    color: black;
    margin-left: 15vw;
    margin-right: 15vw;
    opacity: 0.8;
    text-align: center;
    padding: 2vw 2vw 3vw;
    font-size: 2vw;
}

.header{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.frontPageLinks a {
    text-decoration: none;
    padding: 0 20px;
}

.frontPageLinks a:hover {
    text-decoration: underline;
}




/* ------------------------------- Admin first page --------------------------------- */

.headerAndPageTitle {
    text-align: center;
    justify-content: center;
    width: 70vw;
    margin: 0;
    padding: 0;
    height: 45vh;
}

.createQuizTitle{
    margin: 0;
    padding: 0
}

.chooseCategories {
    width: 30vw;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.categoriesCheckboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 25vw;
}

.checkboxForEachCategory {
    width: 12vw;
    text-align: left;
    margin-top: 1vw;
}

.fuzzmodeCheckbox {
    margin: 25px auto;
}

.createQuizForm {
    width: 35vw;
    text-align: center;
    padding-bottom: 50px;
}

#submitButton{
    width: fit-content;
    margin: auto
}




/* -------------------- join quiz / register players siden --------------- */
.join_quiz_container {
    background-color: white;
    opacity: 0.8;
    width: 20vw;
    margin-top: 30vh;
    text-align: center;
    border-radius: 5px;
}

.join_quiz_inputDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
}

.join_quiz_inputDiv input {
    width: 50%;
}

.join_quiz_inputDiv label {
    width: 40%;
    text-align: left;
    padding-left: 0;
}

#join_quiz_h3 {
    font-size: 40px;
}

.join_quiz_container input[type="submit"] {
    width: 70%;
    margin: 2vh auto 5vh auto;
}




/* ---------------------------------- Start quiz page ---------------------------------*/

.start_quiz_body{

}
.container-start{
    background-color: white;
    opacity: 0.8;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 41vh;
    height: fit-content;
    /*transform: translateX(-50%);*/



}

.listOfPlayers {
    text-align: center;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-bottom: 20px;
}

.container-start input[type="submit"] {
    margin-bottom: 20px;
}



/* ------------------------- question page ------------------------------- */
.container-question {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
}

#questionX {
    font-family: 'Oswald', serif;
    font-size: 80px;
    color: #FFFFFF;
    margin: 0 auto 75px auto;
    text-align: center;
    width: 50vw;
    top: 50px;
}

#countdownClockCircle {
    height: 100px;
    width: 100px;
    background-color: #a94752;
    border-radius: 100px;
    text-align: center;
}

#countdown {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 25px;
}

.question {
    background-color: white;
    opacity: 0.8;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 32px;
}

.answers {
    width: 70vw;
    text-align: center;
    margin-top: 50px;
}

.answers input[type="submit"] {
    background-color: #a94752;
    color: white;
    font-size: 22px;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 8px auto;
}




/* ---------------------- Results page --------------------------------*/
.container-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30vw;
}

.headerResults h2 {
    width: 30vw;
    padding-top: 100px;
}

.resultTable {
    width: 30vw;
    text-align: center;
}

.resultTable tr {
    margin-bottom: 10px;
}

#resultTablePlacement {
    width: 25%;
}

#resultTableName {
    width: 50%;
}

#resultTableScore {
    width: 25%;
}

.frontPageLink {
    text-decoration: none;
    background-color: #a94752;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    margin: 50px auto;
    padding: 10px 30px;
}




/* --------------------------- Waiting page -------------------------- */
.waitingContainer {
    width: 50vw;
    display: block;
    text-align: center;
}

.lastCorrectAnswer {
    display: block;
    text-align: center;
    margin-top: 80px;
}

.lastCorrectAnswer p {
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.currentScores {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.currentScores p {
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.currentScores h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.scoresTable {
    width: 80%;
}

.scoresTableName {
    width: 70%;
    text-align: left;
}

.scoresTableScore {
    width: 30%;
    text-align: center;
}

.currentScores form {
    width: 30vw;
    text-align: center;
    margin-top: 50px;
}

#nextQuestionButton {
    font-size: 18px;
    justify-content: center;
    width: 170px;
    padding: 12px;
    border-radius: 30px;
}




/* ------------------------ calculating result -----------------------------*/
.calculatingDiv {
    width: 30vw;
    display: block;
    text-align: center;
}

#myProgress {
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border: #555555 solid 1px;
}

#myBar {
    width: 1%;
    height: 100%;
    background-color: #a94752;
}







/* ------------------------ popup info button --------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* ----------------------------------------- phone/player display -------------------------------------------- */

@media only screen and (max-width: 600px) { /* set to 450 when ready */

    *{
        font-size: 5vw;
    }

    html {
        font-size: 3vw;
    }

    h1{
        font-size: 18vw;
    }

    h2{
        font-size: 15vw;
    }

    h3{
        font-size: 4vw;
    }


    /* front page */

    #peeking-corner-monster{
        width: 70vw;
        padding-left: 15px;
    }

    .h1-welcome{
        top: 14vw;
    }
    .container-welcome{
        width: 80vw;
    }

    .frontPageLinks{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .frontPageLinks a{
        margin-bottom: 20px;
    }





    /* create quiz */

    #monster-logo-header{
        width: 80vw;
        left: -40px;
    }

    .headerAndPageTitle{
        height: 220px;
    }
    .createQuizForm, .checkboxForEachCategory, .categoriesCheckboxes, .chooseCategories, .checkboxForEachCategory {
        width: 95vw;
        padding: 0;
        margin: 0;
    }

    .categoriesCheckboxes{
        margin-left: 35%;
    }

    .createQuizForm{
        padding: 20px;
    }


    /* join quiz */
    .join_quiz_container {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: center;
        margin-top: 10vh;
    }

    .join_quiz_inputDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;
        margin: 5px auto;
    }

    .join_quiz_inputDiv input[type="text"] {
        width: 80%;
        margin-bottom: 4vh;
    }

    .join_quiz_inputDiv label {
        width: 80%;
        margin-bottom: 1vh;
        text-align: center;
    }

    #join_quiz_h3 {
        font-size: 5vh;
    }

    .join_quiz_container input[type="submit"] {
        width: 70%;
    }




    /* start quiz */
    #happy-monster{
        position: relative;
        width: 280px;
        z-index: -1;
        margin: 2vh auto 0 auto;
    }


    .container-start{
        background-color: white;
        opacity: 0.8;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 15px;
        border-radius: 5px;
        position: relative;
        top: -13vh;
        height: fit-content;
    }




    /* question page */
    .container-question {
        display: flex;
        justify-content: center;
        width: 85vw;
        top: 0;
    }

    #questionX {
        width: 85vw;
        font-size: 40px;
        color: #FFFFFF;
        margin: 2vh auto;
        top: 0;
    }

    .question {
        width: 100%;
        margin-top: 25px;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        font-size: 32px;
    }

    .answers {
        width: 100%;
        text-align: center;
        margin-top: 5vw;
    }

    .answers input[type="submit"] {
        background-color: #a94752;
        color: white;
        font-size: 3vh;
        border-radius: 20px;
        width: 90%;
        padding: 10px;
        text-align: center;
        margin: 2vh auto;
    }


    /* waiting page */
    .waitingContainer {
        width: 90vw;
        display: block;
        text-align: center;
    }

    .currentScores {
        width: 80vw;
    }

    .currentScores h3 {
        font-size: 18px;
    }

    /* calculating result */
    .calculatingDiv {
        width: 80vw;
        display: block;
        text-align: center;
    }

    #myProgress {
        height: 22px;
    }



    /* result page */
    .container-results{
        width: 90vw;
        text-align: center;
    }

    .headerResults h2 {
        width: 100%;
        font-size: 18vw;
        font-max-size: 65px;
        color: #FFFFFF;
        margin: 2vh auto;
        top: 0;
    }

    .playerScore p {
        width: 95%;
        text-align: center;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

    .resultTable {
        width: 80vw;
    }


}