<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="headerAndPageTitle">
        <img id="monster-logo-header" src="/images/monster-logo.png" alt=" ">
        <h2 class="createQuizTitle">Create quiz</h2>
    </div>

    <form class="createQuizForm" action="/register-quiz" method="post">
        <label>How many questions do you want in your quiz? </label>
        <input name="inputNumberOfQuestions" type="number" min="5" max="50">

        <div class="chooseCategories">
            <p>Do you want to play with categories? Check any you would like or leave blank if you want to play with all categories.</p>
            <div class="categoriesCheckboxes">
                <div class="checkboxForEachCategory" th:each="item : ${categoriesList}"><input name="category" type="checkbox" th:text="${item}" th:value="${item}"></div>
            </div>
        </div>

        <div class="fuzzmodeCheckbox" id="fuzzModeCheckbox">
            <p style="margin: 0; padding: 0">Do you want to spice it up?</p>
            <input type="checkbox" name="isFuzz" id="fuzzCheckbox">
            <label style="margin: 0; padding: 0" for="fuzzCheckbox">Fuzz-mode</label>
            <div class="popup" onclick="myFunction()"><sup>&#x1F6C8;</sup>
                <span class="popuptext" id="myPopup">Answer quicker than your quiz-mates to get the most points</span>
            </div>
        </div>

        <div style="display: block">
            <p>Challenge yourself or distant friends?</p>
            <input type="checkbox" name="isRemote" id="remoteCheckbox" onclick="isRemoteChecked()">
            <label for="remoteCheckbox">Remote mode</label>

            <div class="popup" onclick="myFunction()"><sup>&#x1F6C8;</sup>
                <span class="popuptext" id="myPopup2">View each question on your device, enabling you to play by yourself or with friends that aren't in the same room as you</span>
            </div>
        </div>


        <div class="join_quiz_inputDiv" id="text" style="display: none">
            <label for="userName">Your name :</label>
            <input type="text" name="name" id="userName">
        </div>

        <p></p>

        <div id="submitButton" onclick="hideFunction()">
            <input type="submit" value="Create">
        </div>

    </form>




    <script>
        //Prevent user from clicking the backbutton
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };

        //Info-bullet on "fuzz-mode"
        function myFunction() {
            var popup1 = document.getElementById("myPopup");
            var popup2 = document.getElementById("myPopup2");

            popup1.classList.toggle("show");
            popup2.classList.toggle("show");

        }

        function isRemoteChecked(){
            var checkBox = document.getElementById("remoteCheckbox");
            var fuzzModeCheckbox = document.getElementById("fuzzModeCheckbox");
            var text = document.getElementById("text");

            if (checkBox.checked == true){
                text.style.display = "block";
                fuzzModeCheckbox.style.display = "none";
            } else {
                text.style.display = "none";
                fuzzModeCheckbox.style.display = "block";
            }
        }

        function hideFunction(){
            var submitButton = document.getElementById("submitButton");
            submitButton.style.display = "none";
        }

    </script>
</body>
</html>