<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <h1>Welcome to Fuzz!</h1>
    <h2>Create quiz:</h2>
    <form action="/register-quiz" method="post">
        <label>How many questions do you want in your quiz? </label>
        <input name="inputNumberOfQuestions" type="number" min="5" max="50">

        <div><p>If you want to play with categories, check any you would lik.</p>
            <p>Leave blank if you want to play with all categories.</p>
            <div th:each="item : ${categoriesList}"><input name="category" type="checkbox" th:text="${item}" th:value="${item}"></div>
        </div>
        <br>

        <input type="checkbox" name="isFuzz" id="fuzzCheckbox">
        <label for="fuzzCheckbox">Fuzz-mode</label>
        <br>

        <button>Submit</button>
    </form>
</body>
</html>