<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="headerAndPageTitle">
        <img id="monster-logo-header" src="/images/monster-logo.png" alt=" ">
        <h2>Create quiz</h2>
    </div>

    <form class="createQuizForm" action="/register-quiz" method="post">
        <label>How many questions do you want in your quiz? </label>
        <input name="inputNumberOfQuestions" type="number" min="5" max="50">

        <div class="chooseCategories">
            <p>Do you want to play with categories? Check any you would like or leave blank if you want to play with all categories.</p>
            <div class="categoriesCheckboxes">
                <div class="checkboxForEachCategory" th:each="item : ${categoriesList}"><input name="category" type="checkbox" th:text="${item}" th:value="${item}"></div>
            </div>
        </div>

        <div class="fuzzmodeCheckbox">
            <span style="padding-right: 20px">Do you want to spice it up?</span>
            <input type="checkbox" name="isFuzz" id="fuzzCheckbox">
            <label for="fuzzCheckbox">Fuzz-mode</label>
            <div class="popup" onclick="myFunction()"><sup>&#x1F6C8;</sup>
                <span class="popuptext" id="myPopup">Answer quicker than your quiz-mates to get the most points</span>
            </div>
        </div>

        <input type="submit" value="Create">
    </form>




    <script>

        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</body>
</html>