<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">


<div class="header">
    <h1 class="h1-welcome">Welcome to</h1>
    <img id="peeking-corner-monster" src="/images/monster-logo.png" alt=" ">
</div>

<div class="container-welcome">
    <h3>What do you want to do?</h3>
    <div class="frontPageLinks">
        <a style="width: 100%" href="/register-quiz">Create a quiz</a>
        <a style="width: 100%" href="/register-players">Join a quiz</a>
    </div>
</div>





</body>
</html>