<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
</head>
<body>

<ul th:each="item : ${listOfPlayers}">
    <li th:text="${item.getName()}"></li>
</ul>


<p th:text="${question}"></p>

<form>
    <label>
        <input type="radio" name="radio_button"><span th:text="${A}"></span>
    </label>

    <label>
        <input type="radio" name="radio_button"><span th:text="${B}"></span>
    </label>

    <label>
        <input type="radio" name="radio_button"><span th:text="${C}"></span>
    </label>

    <label>
        <input type="radio" name="radio_button"><span th:text="${D}"></span>
    </label>

</form>


<script>
</script>

</body>
</html>