<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
</head>
<body>

<div id="countdown"></div>
<form method="post" th:action="'/play/' + ${quizCode} + '/' + ${questionNumber}" hidden>
    <input id="elementID" type="submit">
</form>



<h2 th:text="'Question ' + ${questionNumber+1}"></h2>
<div th:if="${player.getRole() == 'admin'}">
    <p th:text="${question}"></p>
    <div class="displayAlternativesAsAdmin">
        <p th:text="${A}"></p>
        <p th:text="${B}"></p>
        <p th:text="${C}"></p>
        <p th:text="${D}"></p>
    </div>
</div>

<div th:if="${player.getRole() == 'player'}">
    <form class="answer_form" th:action="'/play/' + ${quizCode} + '/' + ${questionNumber}" method="post">
        <input type="button" id="A" name="answerA" th:value="${A}">
        <input type="button" id="B" name="answerB" th:value="${B}">
        <input type="button" id="C" name="answerC" th:value="${C}">
        <input type="button" id="D" name="answerD" th:value="${D}">
    </form>
</div>


<script>

    var timeleft = 5;
    var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            document.getElementById('elementID').click();
        } else {
            document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1;
    }, 1000);


    function setAnswer(selectedAnswer, clicked_id)
    {
        selectedAnswer = clicked_id;
    }


</script>

</body>
</html>