<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div id="countdown"></div>
<form method="post" th:action="'/play/' + ${quizCode} + '/' + ${questionNumber}" hidden>
    <input id="elementID" type="submit">
</form>


<h2 th:text="'Question ' + ${questionNumber+1}"></h2>

<div th:if="${player.getRole() == 'admin'}">
    <p th:text="${question}"></p>
<!--    <div class="displayAlternativesAsAdmin">
        <p th:text="${A}"></p>
        <p th:text="${B}"></p>
        <p th:text="${C}"></p>
        <p th:text="${D}"></p>
    </div>-->
</div>

<div th:if="${player.getRole() == 'player'}">
    <form class="answer_form" th:action="'/play/' + ${quizCode} + '/' + ${questionNumber}" method="post">
        <input type="submit" id="A" name="answer" th:value="${A}">
        <input type="submit" id="B" name="answer" th:value="${B}">
        <input type="submit" id="C" name="answer" th:value="${C}">
        <input type="submit" id="D" name="answer" th:value="${D}">
    </form>
</div>


<script>

    var timeleft = 10;
    var downloadTimer = setInterval(function(){
        if(timeleft <= 0 || '<%=isAnsweredCorrectly%>'){    /* || isAnsweredCorrectly */
            clearInterval(downloadTimer);
            document.getElementById('elementID').click();
        } else {
            document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1;
    }, 1000);







</script>

</body>
</html>