<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
</head>
<body>

<div id="countdown"></div>
<form method="get" th:action="'/play/' + ${quizCode} + '/wait'" hidden>
    <input id="elementID" type="submit">
</form>



<!--<h2 th:text="'Question ' + ${QUESTION_NUMBER}"></h2>-->
<div th:if="${player.getRole() == 'admin'}">
    <p th:text="${question}"></p>
    <div class="displayAlternativesAsAdmin">
        <p th:text="${A}"></p>
        <p th:text="${B}"></p>
        <p th:text="${C}"></p>
        <p th:text="${D}"></p>
    </div>
</div>

<div th:if="${player.getRole() == 'player'}">
    <form>
        <label><input type="radio" id="A" name="radio_button"><span th:text="${A}"></span>
        </label>

        <label><input type="radio" id="B" name="radio_button"><span th:text="${B}"></span>
        </label>

        <label><input type="radio" id="C" name="radio_button"><span th:text="${C}"></span>
        </label>

        <label><input type="radio" id="D" name="radio_button"><span th:text="${D}"></span>
        </label>
    </form>
</div>


<script>

    var timeleft = 10;
    var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            document.getElementById('elementID').click();
        } else {
            document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1;
    }, 1000);


</script>

</body>
</html>