<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Players</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Register players form-->
<form action="/register-players" method="post">
    <label>Quiz code:
        <input type="text" name="userQuizCode">
    </label>
    <label>Your name:
        <input type="text" name="name">
    </label>
    <input type="submit">
</form>

</body>
</html>