<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Players</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Register players form-->

<div class="join_quiz_container">
    <h3 id="join_quiz_h3">Join a quiz</h3>
    <form class="registerPlayerForm" action="/register-players" method="post">

        <div class="join_quiz_inputDiv">
            <label for="userQuizCode">Quiz code :</label>
            <input type="text" name="userQuizCode" id="userQuizCode">
        </div>
        <div class="join_quiz_inputDiv">
            <label for="userName">Your name :</label>
            <input type="text" name="name" id="userName" required>
        </div>


        <input type="submit" value="Join quiz">
    </form>
</div>

</body>
</html>