<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Players</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Register players form-->

<div class="join_quiz_container">
    <h3 id="join_quiz_h3">Join a quiz</h3>
    <form action="/register-players" method="post">

        <label>Quiz code :
            <input style="float: right" type="text" name="userQuizCode">
        </label>
        <p></p>

        <label>Your name :
            <input style="float: right" type="text" name="name">
        </label>
        <p></p>

        <input type="submit">
    </form>
</div>

</body>
</html>