<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body >


<img id="happy-monster" src="/images/happy-monster.png" alt=" ">



<div class="container-start">

    <h3 th:text="'Quiz code: ' + ${quizCode}"></h3>

    <p>The players of this quiz are:</p>
    <ul class="listOfPlayers" th:each="item : ${listOfPlayers}">
        <li th:text="${item.getName()}"></li>
    </ul>

    <div th:if="${player.getRole() == 'admin'}">

        <form method="post" th:action="'/play/' + ${quizCode}">
            <input type="submit" value="Start quiz">
        </form>

    </div>
</div>


<script>
</script>

</body>
</html>