<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
</head>


<body class="start_quiz_body" >

<img id="happy-monster" src="/images/happy-monster.png" alt=" ">

<button style="position: relative; top: 50px; left: 50px" th:if="${player.getRole() == 'admin'} and not ${isRemote}" onclick="mute()" type="button">
    &#128263
</button>

<div class="container-start">

    <h3 th:text="'Quiz code: ' + ${quizCode}"></h3>

    <p>The players of this quiz are:</p>
    <ul id="listOfPlayers" class="listOfPlayers">
        <li  th:each="item : ${listOfPlayers}" th:text="${item.getName()}"></li>
    </ul>

    <div th:if="${player.getRole() == 'admin'}">

        <form method="post" th:action="'/play/' + ${quizCode}">
            <input type="submit" value="Start quiz">
        </form>

    </div>
</div>

<div th:if="${player.getRole() == 'admin'} and not ${isRemote}">
    <audio id="backgroundMusic" src="/elevator.mp3" autoplay></audio>
</div>



<script>
    var listOfPlayers = document.getElementById("listOfPlayers");
    var quizCode = [[${quizCode}]];
    var audio = document.getElementById("backgroundMusic");

    function mute() {
        audio.pause();
        audio.remove();
    }

    function reloadListOfPlayers(){
        setInterval(function (){
            //location.reload()
            fetch("/api/play/" + quizCode)
                .then(r=> r.json())
                .then(arrayOfPlayers => {
                    listOfPlayers.innerHTML = "";
                    arrayOfPlayers.forEach(function(p) {
                        var liElement = document.createElement('li');
                        liElement.innerText = p.name;
                        listOfPlayers.appendChild(liElement);
                    })
                })
        }, 1000)
    }

    function reloadWindow(){
        setInterval(function (){
            //location.reload()
            fetch("/api/play/" + quizCode + "/wait")
                .then(r=> r.json())
                .then(waitResponse => {
                    if (waitResponse[0] !== -1) {
                        window.location.href = "/play/" + quizCode + "/" + waitResponse[0];
                        //go to /play/" + quizCode + '/' + questionNumber
                    }
                });
        }, 1000)
    }

    reloadWindow();
    reloadListOfPlayers();


</script>

</body>
</html>