<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<h1 th:text="'Quiz Code: ' + ${quizCode}"></h1>

<h2>The players of this quiz are:</h2>
<ul th:each="item : ${listOfPlayers}">
    <li th:text="${item.getName()}"></li>


</ul>

<div th:if="${player.getRole() != 'player'}">
    <h2>Let's start the quiz!</h2>
    <a th:href="'/play/' + ${quizCode} + '/' + ${questionNumber}">Start quiz</a>
</div>


<script>

</script>

</body>
</html>