<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="waitingContainer">

    <div th:if="${player.getRole() == 'player'} or ${isRemote}">
        <h3>Waiting for the other players...</h3>
    </div>


    <div class="currentScores" th:if="${player.getRole() == 'admin'} or ${isRemote}">
        <p>The correct answer was: </p>
        <p th:text="${session.correctAnswerText}"></p>

        <h3>The current scores are:</h3>

        <table class="scoresTable">
            <tr style="text-align: left; font-weight: bold">
                <td>Name </td>
                <td>Last round </td>
                <td>Total </td>
            </tr>
            <tr class="scoresTableRow" th:each="item : ${scoreboard}">
                <td class="scoresTableName" th:text="${item.getKey()}"></td>
                <td style="text-align: right" class="scoresTableName" th:text="${session.lastScore}"></td>
                <td style="text-align: right" class="scoresTableScore" th:text="${item.getValue()}"></td>
            </tr>
        </table>

        <form th:if="${player.getRole() == 'admin'} and not ${isRemote}" method="post" th:action="'/play/' + ${quizCode}">
            <input id="nextQuestionButton" type="submit" value="Next question">
        </form>



        <form th:if="${player.getRole() == 'admin'} and ${showNextQuestion} and ${isRemote}" method="post" th:action="'/play/' + ${quizCode}">
            <input id="nextQuestionButton" type="submit" value="Next question">
        </form>


    </div>
</div>

<script>
    //Prevent user from clicking the backbutton
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null
    };
</script>

</body>
</html>