<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>

<div class="waitingContainer">

    <div th:if="${player.getRole() == 'player'} or ${isRemote}">
        <h3>Waiting for the other players...</h3>
    </div>


    <div class="currentScores" th:if="${player.getRole() == 'admin'} or ${isRemote}">
        <p>The correct answer was: </p>
        <p th:text="${session.correctAnswerText}"></p>

        <h3>The current scores are:</h3>

        <table class="scoresTable">
            <tr class="scoresTableHeaders">
                <td>Name </td>
                <td>Last round </td>
                <td>Total </td>
            </tr>
            <tr class="scoresTableRow" th:each="item : ${scoreboard}">
                <td class="scoresTableName" th:text="${item.getKey()}"></td>
                <td class="scoresTableScore" th:text="${lastScores.get(item.getKey())}"></td>
                <td class="scoresTableScore" th:text="${item.getValue()}"></td>
            </tr>
        </table>

        <form th:if="${player.getRole() == 'admin'} and not ${isRemote}" method="post" th:action="'/play/' + ${quizCode}">
            <input id="nextQuestionButton" type="submit" value="Next question">
        </form>



        <form th:if="${player.getRole() == 'admin'} and ${showNextQuestion} and ${isRemote}" method="post" th:action="'/play/' + ${quizCode}">
            <input id="nextQuestionButton" type="submit" value="Next question">
        </form>


    </div>
</div>

<img id="waitingPagePeekingCornerMonster" src="/images/peeking-corner-monster-left.png">
<div class="peekingMonsterWhiteSidebarLeft"></div>
<div class="peekingMonsterWhiteSidebarRight"></div>
<div class="peekingMonsterWhiteSidebarTop"></div>
<div class="peekingMonsterWhiteSidebarBottom"></div>

<script>
    var quizCode = [[${quizCode}]];

    //Prevent user from clicking the backbutton
    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null
    };

    function reloadWindow(){
        setInterval(function (){
            //location.reload()
            fetch("/api/play/" + quizCode + "/wait")
                .then(r=> r.json())
                .then(questionNumber => {
                    if (questionNumber !== -1) {
                        window.location.href = "/play/" + quizCode + "/" + questionNumber;
                        //go to /play/" + quizCode + '/' + questionNumber
                    }
                });
        }, 1000)
    }


    reloadWindow();

</script>

</body>
</html>