<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div th:if="${player.getRole() == 'player'}">
    <h3>Waiting for the other players...</h3>
</div>



<div class="currentScores" th:if="${player.getRole() == 'admin'}">
    <h3>The current scores are:</h3>

    <table class="scoresTable">
        <tr th:each="item : ${scoreboard}">
            <td th:text="${item.getKey()}"></td>
            <td th:text="${item.getValue()}"></td>
        </tr>
    </table>

    <form method="post" th:action="'/play/' + ${quizCode}">
        <input id="nextQuestionButton" type="submit" value="Next question">
    </form>
</div>


</body>
</html>